.lottoland-header-container {
	max-width: 1000px;
	width: 100%;
	margin: auto;
	padding: 5px 0px;
}
.lottoland-header-logo {
	height: 39px;
	width: 125px;
	margin-top: 10px;
	margin-bottom: 11px;
}
.lottoland-main-container {
	max-width: 1000px;
	width: 100%;
	margin: auto;
}
.lottoland-details-container {
	display: flex;
	flex-direction: row;
}

@keyframes pulse {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -135% 0%;
	}
}
.lottoland-skeleton-circle {
	height: 40px;
	background-color: #ebeef2;
	animation: pulse 0.65s infinite alternate;
}

.lottoland-skeleton-line {
	display: inline-block;
	vertical-align: middle;
	height: 60%;
	width: 100%;
	background: linear-gradient(
		-90deg,
		var(--grey_medium) 0%,
		var(--grey_dark) 50%,
		var(--grey_medium) 100%
	);
	background-size: 400% 400%;
	animation: pulse 1.2s ease-in-out infinite;
	width: 5.5em;
	border-radius: 10px;
}
.lottoland-skeleton-line::before {
	content: '\00a0';
}
